@model IEnumerable<VMarket.Models.OrderDetail>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    

</head>
<body>

    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">

                        <h2>DETALLES ORDENES DE COMPRA</h2>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- End Page title area -->

    <div class="row">
        <div class="col-md-12">
            <div class="single-product-area">
                <div class="zigzag-bottom"></div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="text-muted bootstrap-admin-box-title">Ordenes de Compra</div>

                    </div>
                    <div class="bootstrap-admin-panel-content">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Order.OrderId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Order.Fecha)
                                </th>
                                <th>
                                    Producto
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Cantidad)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Subtotal)
                                </th>
                                
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Order.OrderId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Order.Fecha)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Product.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cantidad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Subtotal)
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
